@model RpgApplication.Areas.Identity.Data.AddingRoleModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SelectList List = new SelectList(ViewBag.Players, "Id", "UserName");
    SelectList RoleList = new SelectList(ViewBag.PlayerRoles, "Id", "Name");
}
<div class="card text-white bg-dark mt-5 my-5 mx-auto opacity-card" style="width: 25rem;">
    <div class="card-body">
        <h3 class="card-title"> Dodaj Gracza do Gry</h3>
        <div class="row">
            <div class="col-sm">
                <form asp-action="AddUserToGamePost">
                    <div class="form-inline my-3">
                        <label asp-for="User.UserName" class="control-label mr-5 ml-2 my-3"></label>
                        <select asp-items="@(List)"
                                class="form-control" asp-for="User.Id">
                            <option value="wybierz">---Wybierz---</option>
                        </select>
                        <label asp-for="Role.RoleName" class="control-label mr-5 ml-2 my-3"></label>
                        <select asp-items="@(RoleList)"
                                class="form-control" asp-for="Role.Id">
                            <option value="wybierz">---Wybierz---</option>
                        </select>
                    </div>
                    @*@if (@ViewBag.Warning != "")
                    {
                        <div class="alert alert-danger font-weight-bolder">@ViewBag.Warning</div>
                    }*@
                    <div class="form-group">
                        <input type="submit" value="Dodaj" class="btn btn-secondary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>