@model RpgApplication.Models.MistbornCharacterSheetModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<string> MyCharacters = ViewBag.MyCharacters;
}

<div class="card text-dark text-center mt-5 mx-auto opacity-card">
    <img class="card-img"
         src="https://raw.githubusercontent.com/vicberg/Roll20-Warhammer-4e-Character-Sheet/master/background.jpg"
         alt="Card image">
    <div class="card-img-overlay">
        <h2 class="card-title">Twoje Postaci</h2>
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Index">
                    <div class="form-inline">
                        <label asp-for="CharacterName" class="control-label mr-5 ml-2"></label>
                        <select asp-items="@(new SelectList(MyCharacters))"
                                class="form-control" asp-for="CharacterName">
                            <option value="wybierz">---Wybierz---</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
